NAME = "QueenSpectraHive"

# Data Configuration
TRAIN_TEST_SPLIT = 0.2
TRAIN_VALIDATION_SPLIT = 0.1
SEED = 67
FOLDS = 5

# API Server Configuration
HOST = "127.0.0.1"
PORT = 6769
RUN_WITH_RELOAD = True
API_DESCRIPTION = "QueenSpectraHive is an application designed to analyze audio data
    from beehives and determine the presence of a queen bee based on spectral analysis.
    The application provides an API endpoint for uploading audio files in WAV format, which
    are then processed to detect characteristic frequency signatures associated with queen bees.
    The results are returned in a structured format, indicating whether a queen bee was detected
    along with a descriptive message."
API_VERSION = "1.0.0"

# Kaggle API Configuration
KAGGLE_API_TOKEN = "Your-Secret-Kaggle-API-Token-Here"
